body {
    display: flex;
    height: 100vh;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: magenta;
    text-decoration: underline;
}

#partsTree {
    width: 33vw;
    box-sizing: border-box;
    overflow: scroll;
}

#partForm {
    width: 66vw;
    box-sizing: border-box;
    overflow: scroll;
    padding: 0 5%;
}

.formField {
    margin: 1em 0;
}
